<div class="post-container">

  <div class="post-header">
    <div class="post-author--no-cover">
      <h4>{{user.username}}</h4>
    </div>
  </div>

  <div class="post-body">
    <div class="post-title">
      <h2><a href="/post/{{id}}">{{title}}</a></h2>
    </div>
    <div class="blog-summary">
      <p>{{post_content}}</p>
  </div>
  <div class="post-footer">
    <ul>
      <li class="published-date">{{created_at}}</li>
      </div>
    </ul>
  </div>
</div>

<script src="/javascript/vote.js"></script>