<article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>{{post_url}}</span>
    </div>
    <div class="meta">
        {{vote_count}} point(s) by {{user.name}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
    <div>
        <button type="submit" id="up-vote-btn"></button>
    </div>
    <div>
        <button type="submit" id="down-vote-btn"></button>
    </div>
</article>

<div class="row" id="content">
      <div class="medium-8 columns">
        <div class="blog-post">
          <h3>Awesome blog post title <small>3/6/2015</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: Mike Mikers</a></li>
              <li><a href="#">Comments: 3</a></li>
            </ul>
          </div>
        </div>