{{!-- <div class="row" id="content">
  <div class="medium-8 columns">
    <div class="blog-post">
      <a href="/post/:{{post.id}}" target="_blank"><h1 class="singlePost">{{title}}</h1></a>
      <span>{{post_content}}</span>
      <div class="callout">
        <ul class="menu simple">
          <li>{{vote_count}} point(s) by {{user.name}} on {{created_at}}</li>
          <li><a href="/post/:{{id}}">{{comments.length}} comment(s)</a></li>
          <li><button type="submit" id="up-vote-btn"><i class="fa-solid fa-thumbs-up"></i></button></li>
          <li><button type="submit" id="down-vote-btn"><i class="fa-solid fa-thumbs-down"></i></i></button></li>
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<div class="blog-container">

  <div class="blog-header">
    <div class="blog-author--no-cover">
      <h3>{{user.username}}</h3>
    </div>
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h1><a href="/post/:{{id}}">{{title}}</a></h1>
    </div>
    <div class="blog-summary">
      <p>{{post_content}}</p>
    </div>
    <div class="blog-tags">
    </div>
  </div>
  <div class="blog-footer">
    <ul>
      <li class="published-date">12 days ago</li>
      <li class="positive">
        <button class="up-vote-btn" id="up-vote-btn"><svg class="icon-bubble">
            <use xlink:href="#icon-bubble"></use>
          </svg><span class="numero">{{vote_count}}</span></button>
      </li>
      <li class="negative">
        <button class="down-vote-btn" id="down-vote-btn">
          <svg class="icon-star">
            <use xlink:href="#icon-star"></use>
          </svg><span class="numero">3</span></button>
      </li>
    </ul>
  </div>

</div>