<article class="post">
    <div class="title">
        <a href="{{post_content}}" target="_blank">{{title}}</a>
        <span>{{post_content}}</span>
    </div>
    <div class="meta">
        {{vote_count}} point(s) by {{user.name}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
    <div>
        <button type="submit" id="up-vote-btn"></button>
    </div>
    <div>
        <button type="submit" id="down-vote-btn"></button>
    </div>
</article>