<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <span>({{post.post_content}})</span>
        </div>
        <div>
            {{post.vote_count}} vote(s) by you on {{post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s) </a>
        </div>
        <button type="submit">Save Post</button>
        <button type="button" class="delete-post-btn">Delete Post</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    {{> comments post.comments }}

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>